header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 40px 2px #dfdfdf ;
}

header .nav {
  background-color: transparent;
}

/* BRAND */
.navbar_brand_logo span {
  color: #01996D;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar_forma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}

/* NAVIGATION BUTTONS */
.navigation_button_li a {
  text-decoration: none !important;
  color: black;
}

.navigation_button_li a:before {
  content: '';
}

/* FORM BUTTONS */
.navbar_forma_item {
  width: 50%;
  height: 100%;
}

.navbar_forma_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.navbar_forma_item:nth-child(1) a {
  color: black;
}

.navbar_forma_item:nth-child(2) a {
  color: #fff;
  background-color: #01996D;
}