header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav {
  background-color: transparent;
}

/* BRAND */
.navbar_brand_logo span {
  color: #01996D;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar_forma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}

/* NAVIGATION BUTTONS */
.navigation_button_li {
  position: relative;
}

.navigation_button_li a {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}

/* :BEFORE */
.navigation_button_li a:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  top: 0;
  left: 0;
  border-top: 1px solid black;
  transition: width .1s ease-out;
}

.navigation_button_li:hover a:before {
  width: 100%;
}

.navigation_button_li:active a {
  color: rgba( 0, 0, 0, .6 );
}

.navigation_button_li:active a:before {
  width: 50%;
}

/* :AFTER */
.navigation_button_li a:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  right: 0;
  border-top: 1px solid black;
  transition: width .1s ease-out;
}

.navigation_button_li:hover a:after {
  width: 100%;
}

.navigation_button_li:active a:after {
  width: 50%;
}

/* FORM BUTTONS */
.navbar_forma_item {
  width: 50%;
  height: 100%;
}

.navbar_forma_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.navbar_forma_item:nth-child(1) a {
  color: black;
  transition: .15s linear;
}

.navbar_forma_item:nth-child(1):hover a {
  background-color: #efefef;
}

.navbar_forma_item:nth-child(1):active a {
  background-color: #fff;
}

.navbar_forma_item:nth-child(2) a {
  color: #fff;
  background-color: #01996D;
  opacity: 1;
  transition: .15s linear;
}

.navbar_forma_item:nth-child(2):hover a {
  color: #fff;
  background-color: #01996D;
  opacity: .7;
}

.navbar_forma_item:nth-child(2):active a {
  opacity: .5;
}

@media screen and (max-width:767px){
  header {
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar_forma_item {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .navbar_forma_item a {
    font-size: .9em;
  }
}