.slider_item {
  margin-top: 50%;
  opacity: .2;
  transition: opacity .4s ease-in-out;
}

.slider_item:hover {
  opacity: 1;
}

.slider_img {
  height: 500px;
  border-radius: 15px;
  color: green;
}
